.sidebar {
    width: 16rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.logo {
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.logo span {
    color: #48CFCB;
    font-size: 30px;
    font-family: "Acid Grotesk Bold";
}

.navigation {
    margin-top: 32px;
    font-family: "Acid Grotesk Bold";
    font-size: 20px;
}

.sidebarLink {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    transition: all 0.1s;
}

.sidebarLink:hover {
    color: #48CFCB;
}

.sidebarLink span {
    margin-left: 16px;
    transition: all 0.3s;
}

.sidebarLink span:hover {
    margin-left: 20px;
}

.createNFTButton {
    background-color: #000;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-family: "Acid Grotesk Bold";
    border-radius: 50px;
    width: 100%;
    margin-top: 32px;
    padding: 10px 8px
}