@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palette
    #F5F5F5,
    #48CFCB,
    #229799,
    #424242
*/

body {
    background-color: #F5F5F5;
    color: #424242;
}

@font-face {
    font-family: "Acid Grotesk Normal";
    src: url(../public/fonts/Normal.otf) format("opentype");
}
  
@font-face {
    font-family: "Acid Grotesk Medium";
    src: url(../public/fonts/Meidum.otf) format("opentype");
}
  
@font-face {
    font-family: "Acid Grotesk Regular";
    src: url(../public/fonts/Regular.otf) format("opentype"); 
}

@font-face {
    font-family: "Acid Grotesk Bold";
    src: url(../public/fonts/Bold.otf) format("opentype"); 
}